<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/category/T-shirts"> Camisetas</a>
        <a href="/category/Sweters"> Sweters</a>
        <a href="/category/Accessories"> Accesorios</a>
        <a href="/category/Snack"> Snack</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/register">Registro</a>
        <a href="/login">Login</a>
    </nav>

    <h1>Registo</h1>
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit" id="registerButton">Registrar</button>
    </form>
    <script type="module" src="../utils/configRegister.js"></script>
</body>
</html>